.main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px;
  border: 5px solid green;
  box-sizing: border-box;
  background-color: #c7f0c7;
}

.top-row {
  background-color: #add8e6;
  border: 6px solid blue;
  display: flex;
  flex: 1;
  gap: 10px;
  padding: 25px;
}

.middle-row {
  display: flex;
  flex: 3;
  padding-top: 5px;
  padding-bottom: 5px;
  gap: 0px
}

.bottom-row {
  background-color: #add8e6;
  border: 6px solid blue;
  display: flex;
  flex: 1;
  gap: 10px;
  padding: 12px;
}

.top-left-right {
  flex: 1;
  background-color: #fce0c5;
  border: 6px solid #f78072;
}

.top-center {
  display: flex;
  flex-direction: row;
  flex: 1;
  background-color: #fce0c5;
  border: 6px solid #f78072;
  padding: 5px;
}

.top-center-contents {
  flex: 1;
  border: 6px solid red;
  background-color: #fac0cb;
  padding: 40px;
  text-align: center;
  color: white;
  font-size: 40px;

}

.middle-left {
  flex: 1;
  background-color: #fabbbb;
  border: 6px solid #8b0000;
  margin-right: 12px;
}

.middle-right {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.middle-right-box-up {
  flex: 1;
  background-color: #fabbbb;
  border: 6px solid #8b0000;
  margin-bottom: 6px;
}

.middle-right-box-down {
  flex: 1;
  background-color: #fabbbb;
  border: 6px solid #8b0000;
  margin-top: 6px;
}

.bottom-left-right {
  flex: 5;
  background-color: #d4d4f7;
  border: 6px solid #6a5acd;
}

.bottom-center {
  display: flex;
  flex: 2;
  background-color: #fce0c5;
  border: 6px solid #f78072;
  padding: 40px;
  text-align: center;
  color: white;
  font-size: 40px;
  justify-content: center;
}